*.plist merge=ours
Info.plist merge=ours
GoogleService-Info.plist merge=ours
Version.swift merge=ours
AppIcon.appiconset merge=ours
/Users/Wba/Programmation/iOS/ORCA/Portail G9/R7/Portail-G9-iOS/iOS/Portail G9/Portail G9/Utils/Version.swift merge=ours
