<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>112820312467-5r0dkclmi390qp89lqp55959ns6mqtmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112820312467-5r0dkclmi390qp89lqp55959ns6mqtmd</string>
	<key>API_KEY</key>
	<string>AIzaSyABESLm-xqf-eySP9vZQCPvbM6fZ0A2yYo</string>
	<key>GCM_SENDER_ID</key>
	<string>112820312467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orcaformation.ios.r7.Portail-G9</string>
	<key>PROJECT_ID</key>
	<string>portail-g9</string>
	<key>STORAGE_BUCKET</key>
	<string>portail-g9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:112820312467:ios:0910be909f72027f</string>
	<key>DATABASE_URL</key>
	<string>https://portail-g9.firebaseio.com</string>
</dict>
</plist>
