<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112820312467-pusp2vig4vfvfrj6gaq51kv84f8q58dm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112820312467-pusp2vig4vfvfrj6gaq51kv84f8q58dm</string>
	<key>API_KEY</key>
	<string>AIzaSyABESLm-xqf-eySP9vZQCPvbM6fZ0A2yYo</string>
	<key>GCM_SENDER_ID</key>
	<string>112820312467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orcaformation.ios.prod.Portail-G9</string>
	<key>PROJECT_ID</key>
	<string>portail-g9</string>
	<key>STORAGE_BUCKET</key>
	<string>portail-g9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:112820312467:ios:4a6eabdfc54fc5c9feb066</string>
	<key>DATABASE_URL</key>
	<string>https://portail-g9.firebaseio.com</string>
</dict>
</plist>
